<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baby.name %>
  <strong>Veces hoy :</strong>
  <%= @baby.feeding_times_today %>
  <strong>Volumen hoy :</strong>
  <%= @baby.suma %>
  <strong>Ultima vez hoy :</strong>
  <%= time_ago_in_words(@baby.last_time) %>

</p>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
